/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

h1, h2, h3 {
    color: #e22173;
    text-align: center;
}

a {
    text-decoration: none;
    color: #e22173;
}

/* Cabecera */
header {
    background-color: #cf3476;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    text-align: left;
}

header .logo h1 {
    margin: 0;
    font-size: 2em;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    font-size: 1.2em;
    color: #ffffff;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sección Hero */
.hero {
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero h2 {
    font-size: 3em;
    margin: 0;
}

/* Sección de productos */
#productos {
    padding: 40px;
    text-align: center;
    background-color: #f8f8f8;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 90%;
    margin: auto;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.product {
    min-width: 200px; /* Ajustar el ancho mínimo */
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product h4 {
    margin: 10px 0;
}

.product p {
    color: #e22173;
    font-weight: bold;
}

/* Efecto de zoom al pasar el ratón */
.product:hover {
    transform: scale(1.05);
}

/* Pie de página */
footer {
    background-color: #cf3476;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .product {
        width: 100%;
    }
}
